{
  "presets": [
    "next"
  ],
  "plugins": [
    "inline-dotenv",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@Src": "./src"
        }
      }
    ]
  ]
}