* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  line-height: 1.15;
  font-family: "Helvetica", "sans-serif";
  font-weight: 400;
  background: var(--bg-color);
}

button {
  outline: none;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
